.container {
    background-color: burlywood;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .container a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .container a:hover {
    text-decoration: underline;
  }
  
  .container p {
    margin: 0;
  }
  
  .container img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }